.cpq__multisite-group-member-card{
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 1px #ecebea;
    padding: .56rem 0;
}

.cpq__multisite-group-member-status-applied{
    color: green;
}
.cpq__multisite-group-member-status-notapplied{
    color: #FE9339;
}
.cpq__multisite-group-member-status-processing{
    color: #8C4B02;
}
.cpq__multisite-group-member-name{
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.cpq__multisite-loadmore-button{
    width: auto;
    height: auto;
    margin: auto;
    color: #0070D2;
    padding: 0.5rem;
    border-radius: 4px;
}

.cpq__multisite-group-status-container{
    width: auto;
    padding: 0;
    margin: auto 0.5rem auto auto;
    max-width: 100%;
}
.cpq__multisite-group-status-items{
    width: auto;
    box-sizing: border-box;
    padding: 0.125rem 0.25rem;
    border: 1px solid #C9C9C9;
    border-radius: 1.43rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}