:root {
  --brand-color_blue: rgb(0, 50, 120);
  --brand-color_red: rgb(220, 35, 25);
  --brand-color_gray: rgb(70, 70, 70);
  --brand-color_withe: rgb(255, 255, 255);
  --brand-color_education: rgb(00, 135, 220);
  --brand-color_pension: rgb(00, 180, 120);
  --brand-color_voluntary_income: rgb(155, 80, 145);
  --brand-color_Life: rgb(255, 85, 85);
  --brand-color_annuity: rgb(240, 160, 0);
  --brand-color_provisional_invalidity: rgb(140, 95, 70);
  --brand-color_accident: rgb(190, 45, 85);
}