.menu-logo {
  display: flex;
  gap: 1rem;
}

.menu-logo button {
  position: relative;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: transparent;
}

@media only screen and (min-width:1024px) {
  .menu_logo {
    display: none;
  }
}