.cpq-create_discount-duration_details .section_title{
    font-size: 13px;
    font-weight: bold;
    color: #3E3E3C;
    padding: 0px 20px;
}
.cpq-create_discount-duration_details .field-row{
    padding: 0px 20px;
}