.vdfbutton{
    background-color: blue;
}

span.slds-radio_faux, span.slds-checkbox_faux{
    margin-left: 25px !important;
} 

.divider{
    text-align: center;
    margin-top: 24px;
}

.checkbox-title-style .slds-form-element__legend{
    font-size: 12px;
    color: #3E3E3C;
    font-weight: bold;
}

.attribute-title{
    font-size: 12px;
    color: #3E3E3C;
    font-weight: bold;
}

.text-attribute-title .label{
    font-size: 12px;
    color: #3E3E3C;
    font-weight: bold;
    padding-bottom: 2px;
}

.range-text{
    font-size: 12px;
    color: #7c7c7c;
}

.cpq-checkbox-style{
    span{ 
        padding-left: 0rem !important;
    }
}