.cpq__tilelistview-body-productdescription{
    font-size: 14px;
    line-height: 16px;
    color: #706E6B;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cpq__product-see-detail-link{
    font-size: 13px;
    line-height: 15px;
}
@media screen and (min-width: 768px) {
  .cpq__listview-body-productdescription{
    -webkit-line-clamp: 1;
    height: 30px;
}
}
@media screen and (max-width: 767px) {
  .cpq__listview-body-productdescription{
    -webkit-line-clamp: 3;
    height: 62px;
}
.cpq__productlist-header{
        display: none;
    }
}

.cpq__tileview-body-productdescription{
    -webkit-line-clamp: 5;
    height: 93px;
}

.cpq__productlist-header{
    padding: 0 0.5rem;
    margin: 0 0.25rem !important;
}
.cpq__productlist-header-checkbox{
    width: 32px;
    padding: 0.5rem;
}
.cpq__productlist-header-productName{
    width: 20%;
    padding: 0.5rem;
}
.cpq__productlist-header-productDescription{
    width: 29%;
    padding: 0.5rem 0;
}
.cpq__productlist-header-commercials{
    width: auto;
    min-width: 10%;
    padding: 0.5rem;
}
.flexcards-container_medium  .cpq__productlist-header-commercials{
    width: auto;
    min-width: 15%;
    padding: 0.5rem;
}
.flexcards-container_small  .cpq__productlist-header-commercials{
    width: auto;
    min-width: 33%;
    padding: 0.5rem;
}
.cpq__productlist-header-actions{
    width: calc(20% - 40px);
}
.cpq__productsheader{
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    color: #000000;
    padding: 0 0.5rem;
}

@media screen and (max-width: 1024px) {
  .cpq__productlist-header-commercials{
    width: 15%;
    padding: 0.5rem;
}
}