.right-buttons{
    margin-left: auto;
    width: auto;
    max-width: 100%;
    margin-right: 0px;
}

.custom-btn{
    width: auto;
    max-width: 100%;
}

.custom-btn .slds-button{
    border-radius: 0px;
    margin-right: -1px;
}

/* Object Filter */
.cpq__multisite-filter-parent_card {
    border: 1px solid #AEAEAE;
    border-radius: 0px 0px 4px 4px;
}

.cpq__create_group.slds-modal_medium .slds-modal__container {
	max-width: 48rem;
}
.cpq_filter_toggle_columns_action {
	height: 2rem;
    background: #fff;
    border-radius: 0.25rem;
	margin: 0.4375rem 0 0 0.3125rem;
    padding: 0.4375rem 0.8125rem 0 0.8125rem;
    width: auto;
    max-width: 100%;
}