.incomplete-btn {
    border: 1px solid #ddd;
    height: 32px;
    width: fit-content;
    width: -moz-fit-content; /* Support Mozilla Firefox Browser */
    background: #C9C7C5;
    color: #FFFFFF;
    margin-right: 8px;
}

.custom-btn{
    width:fit-content;
    width: -moz-fit-content; /* Support Mozilla Firefox Browser */
}

.custom-btn .slds-button{
    border-radius: 0px;
    margin-right: -1px;
}

.submit-btn{
    width:fit-content;
    width: -moz-fit-content; /* Support Mozilla Firefox Browser */
}

.submit-btn .slds-button{
    border-radius: 0px;
    margin-right: 8px;
}